.player-wrapper{
    position: relative;
    padding-top: 56.25%;
}

.titrePres{
    font-weight: bold ;
    font-size: 25px;
    color: rgb(180, 180, 180);
    margin-top: 10%;
}

.paragraphe1{
    font-size: 1em;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -8%;
}

.parentCard{
    display: flex;
    
}

.expertise{
    font-size: 20px;
    text-align: center;
}

.design{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4%;
    padding-bottom: 60px;
    width:70%;
}

.web {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4%;
    padding-bottom: 60px;
    width:70%;

}

.des, .dev{
    margin-top: -46px;
}

.design:hover, .web:hover{
   box-shadow: 1px 3px 5px rgb(180, 180, 180);
}

.parentClient{
    display: flex;
    
}

.logo{
    width:60%;
    margin: auto;
}

@media screen and (max-width: 500px){

.video{
    margin-top: -21px;
}

.parentCard{
    display: contents;
    
}

.expertise{
    font-size: 17px;
}
.design, .web{
    width: 100%;
}

.des, .dev{
    margin-bottom: 60px;
}

.logo{
    width:90%;
    margin: auto;
}

}