
.titreExpertise{
    margin-top: 10%;
    font-size: 25px;
    color: rgb(180, 180, 180);
    margin-right: 75%;
    margin-bottom: 7%;
}

.paragraphe1{ 
    font-size: 1em;
    text-align: justify;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: -8%;
}

.paragraphe{
    border-radius: 3px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 60px;
    color: rgb(146, 146, 146);
    background-color: #3a3a3a;
}

.paragrapheParticulier{
    border-radius: 3px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 120px;
    color: rgb(146, 146, 146);
    background-color:#3a3a3a;  
}

.titrePresPara{
    font-style: italic ;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 0%;
    text-shadow: 0px 0px 2px  rgb(85, 85, 85);
}

@media screen and (max-width: 500px){

    .paragrapheParticulier{
        margin-top: 40px;
        margin-left:-20%;
        margin-right:-20%;
        padding-top: 6%;
        padding-bottom: 3%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .paragraphe{
        margin-left:-20%;
        margin-right:-20%;
        padding-top: 6%;
        padding-bottom: 3%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .titreExpertise{
        font-size: 25px;
        margin-left: -20%;
}

}


