.titre{
    font-size: 25px;
    color: rgb(180, 180, 180);
    margin-right: 75%;
    margin-bottom: 7%;
    margin-top: -8%;
}

.pageRealisation{
    padding-top: 3%;
}

@media screen and (max-width: 500px){

.expertise2{ 
    width: 70%;
    margin: auto;
}

.titre{
    margin-left: 15%;
}

}